body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
    color: #2c3e50;
}

h2.subtitle {
    font-size: 1.5em;
    margin-top: 5px;
    color: #7f8c8d;
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ffffff;
    margin: 10px auto;
    padding: 10px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
